body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(255, 92, 92, 1) 0%,
    rgba(95, 145, 255, 1) 50%,
    rgba(75, 0, 130, 1) 100%
  );
  font-family: "Arial", sans-serif;
  perspective: 1000px;
}

.tilt-btn {
  padding: 20px 60px;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(45deg, #ff0080, #ff8c00, #4b0082);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.4s ease, background 0.6s ease;
  transform-style: preserve-3d;
}

.tilt-btn:hover {
  background: linear-gradient(45deg, #42e695, #3bb2b8, #4787f7);
  box-shadow: 0 20px 40px rgba(66, 230, 149, 0.8),
    0 30px 50px rgba(0, 0, 0, 0.5);
}

.tilt-btn:active {
  transform: scale(0.97);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.tilt-btn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.tilt-btn:hover:before {
  opacity: 1;
}

/* Tilt effect */
body {
  perspective: 1000px;
}

.tilt-btn {
  transform: rotateX(0deg) rotateY(0deg);
}

body:hover .tilt-btn {
  animation: tilt 3s infinite ease-in-out alternate;
}

@keyframes tilt {
  0% {
    transform: rotateX(20deg) rotateY(20deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(-20deg);
  }
}

.youtube-link {
  margin-top: 60px;
  text-align: center;
  font-size: 1rem;
  color: black;
}

.youtube-link a {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.youtube-link a:hover {
  color: #fff;
}
