body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, #121212, #3a3a3a, #1c1c3c, #5a5aad);
  background-size: 200% 200%;
  animation: backgroundShift 10s infinite alternate;
  font-family: Arial, sans-serif;
}

@keyframes backgroundShift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.tilt-button {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(145deg, #764ba2, #667eea);
  border: none;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  transform: perspective(1000px) rotateX(15deg) rotateY(-15deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7), 0 5px 10px rgba(118, 75, 162, 0.5);
}

.tilt-button:hover {
  transform: perspective(1000px) rotateX(5deg) rotateY(5deg) scale(1.1);
  background: linear-gradient(145deg, #667eea, #764ba2);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.9),
    0 10px 20px rgba(118, 75, 162, 0.7);
}

.tilt-button:active {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(0.98);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}




.youtube-link {
  margin-top: 60px;
  text-align: center;
  font-size: 1rem;
  color: white;
}

.youtube-link a {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.youtube-link a:hover {
  color: #fff;
}
